@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

body {
  margin-bottom: 100px;
  background-color: #f1f5f9; /* equivalent of slate-100 */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}